docopt==0.6.2
pipreqs==0.4.13
PyQt5==5.15.11
PyQtWebEngine==5.15.7
setuptools==80.9.0
wheel==0.45.1
yarg==0.1.10
branca
brotlicffi
certifi
cffi
charset-normalizer
folium
idna
Jinja2
MarkupSafe
numpy
packaging
ply
pycparser
PyQt5_sip
PySocks
requests
sip
toml
tomli
urllib3
win_inet_pton
xyzservices